<div class="container mx-auto px-12 py-8 mt-11">
	<div class="relative">
		<!-- Title and Navigation Buttons -->
		<div class="flex items-center justify-between mb-6">
			<h2 class="text-2xl font-bold font-gilroybold">Order our best food options</h2>
			<div class="flex gap-4">
				<button (click)="previousSlide()" [disabled]="!canGoPrevious()" class="bg-white rounded-full p-2 shadow-lg disabled:opacity-50 disabled:cursor-not-allowed">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
					</svg>
				</button>

				<button (click)="nextSlide()" [disabled]="!canGoNext()" class="bg-white rounded-full p-2 shadow-lg disabled:opacity-50 disabled:cursor-not-allowed">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
					</svg>
				</button>
			</div>
		</div>

		<!-- Food Grid with Sliding Animation -->
		<div class="overflow-hidden">
			<div class="flex transition-transform duration-300" [style.transform]="sliderTransform">
				<div *ngFor="let item of foodItems" class="flex-none w-36 h-36 m-2 transition-all duration-300 transform hover:scale-105">
					<div class="rounded-lg overflow-hidden">
						<img [src]="item.image" [alt]="item.name" class="w-full h-full object-contain" loading="lazy" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
