<div class="flex flex-col bg-white w-[300px] h-[340px] rounded-3xl p-4 justify-between relative shadow-2xl hover:cursor-pointer">
	<div>
		<h2 class="font-bold text-3xl text-gray-900">{{ offer.title }}</h2>
		<p class="text-2xl text-gray-400 py-2">{{ offer.subtitle }}</p>
		<p class="bg-orange-300 bg-opacity-50 rounded-lg w-[70%] text-xl text-black p-1">{{ offer.discount }}</p>
	</div>
	<div class="p-2 bg-orange-500 w-fit rounded-full mb-2 ml-2 hover:bg-sworange hover:cursor-pointer">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
		</svg>
	</div>
	<img [src]="offer.imageUrl" alt="Offer image" class="absolute bottom-0 right-0 h-48" />
</div>
