
<section class="py-12 ">
    <div class=" container mx-auto text-center py-10">
      <!-- Section Title -->
      <h3 class="text-sm text-teal-500 uppercase mb-2 font-bold">Insurance Services</h3>
      <h2 class="text-4xl font-bold mb-6 py-2 w-1/2 m-auto">Take The Worry Out Of Life With Insurance Protection</h2>
  
      <!-- Grid of Cards -->
      <div class="flex  flex-col md:flex-row justify-center gap-8" >
        <ng-container *ngFor="let x of sections4">
          <div class=" card relative group overflow-hidden rounded-lg shadow-lg ">
            <img [src]="x.img" [alt]="x.alt" class="object-cover group-hover:scale-110 transition-transform duration-300">
            <div class=" inner-card absolute bottom-5 bg-green-600  flex items-center justify-center  ">
              <div class="text-center">
                <p class="text-sm text-white mb-2">INSURANCE &#8226; {{x.para}}</p>
                <h3 class="text-xl font-bold text-white">{{x.title}}</h3>
              </div>
            </div>
          </div>
        </ng-container>
  
      </div>
  
      <!-- Optional Description -->
      <p class="text-gray-600 mt-8 w-1/2 m-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. 
        Urna eu et purus et mi sit rhoncus <a href="#" class="text-teal-500">View All</a>
      </p>
    </div>
  </section>
  