<div class="max-w-7xl mx-auto py-10 px-5 bg-slate-200">
    <div class="flex flex-col md:flex-row justify-between px-10 ">
      <!-- Left Column (Image) -->
      <div class=" card relative md:w-1/2  m-auto ">
        <img src="../../../assets/images/section3/img3.jpg" alt="Happy family" class=" w-3/4  rounded-lg shadow-md" />
      </div>
  
      <!-- Right Column (Text and Features) -->
      <div class="flex flex-col justify-center w-full lg:w-1/2">
        <!-- Title Section -->
        <div class="mb-6">
          <h5 class="text-teal-500 font-semibold text-sm uppercase tracking-wide">Why Choose Us</h5>
          <h2 class="text-3xl font-bold text-gray-900">Our Company Has Been Working Very Faithfully</h2>
          <p class="mt-4 text-gray-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus.
          </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            <p class="font-semibold text-gray-800"> <i class="ri-check-double-line text-teal-500 text-2xl"></i>
                 Protective Protection</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            <p class="font-semibold text-gray-800"><i class="ri-check-double-line text-teal-500 text-2xl"></i>
                 Money Back Guarantee</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            <p class="font-semibold text-gray-800"> <i class="ri-check-double-line text-teal-500 text-2xl"></i>
                Homeowner Insurance</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            <p class="font-semibold text-gray-800"><i class="ri-check-double-line text-teal-500 text-2xl"></i>
                 Partnership System</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            <p class="font-semibold text-gray-800"> <i class="ri-check-double-line text-teal-500 text-2xl"></i>
                 Consultations</p>
          </div>
  
          <div class="bg-white rounded-lg shadow-sm p-4 flex items-center">
            
            <p class="font-semibold text-gray-800"><i class="ri-check-double-line text-teal-500 text-2xl"></i>
                 Safety Ensure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  