<section class="flex flex-col md:flex-row items-center justify-center px-5 bg-green-50 space-y-8 md:space-y-0">
    <div class="md:w-1/2 space-y-6 text-center md:text-left px-8  md:px-12 my-5 ">
        <h1 class="text-2xl md:text-3xl font-bold text-gray-800 leading-tight">Take The Worry Out Of Life With <span class="text-teal-600">Insurance</span> Protection</h1>
        <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisi quis arcu nulla leo nulla cras justo consectetur adipiscing elit.</p>
        <div class="flex flex-col md:flex-row justify-center md:justify-start items-center space-y-4 md:space-y-0 md:space-x-4">
            <a href="#" class="px-6 py-3 font-semibold text-white bg-teal-600 rounded-md hover:bg-green-700"> <i class="fa-solid fa-chevron-up fa-rotate-90 fa-2xs"></i> Get Started</a>
            <a href="#" class="px-6 py-3 font-semibold text-teal-700 bg-white border border-teal-300 rounded-md hover:bg-gray-100"> <i class="fa-solid fa-paper-plane"></i> Contact Us</a>
        </div>
    </div>
    <div class=" place md:w-1/2 flex justify-center">
        <img src="../../../assets/images/image1.png" alt="Family with Insurance" class="w-80 md:w-full ">
    </div>
</section>
